body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    margin: 0;
}

/* header */

header,
.title {
    display: flex;
    align-items: center;
}

header {
    justify-content: space-between;
    padding: 0.66em 1em;
}

header i {
    font-size: 1.3rem;
}

header h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 0.84rem;
    margin-left: 0.3em;
}

header a {
    text-decoration: none;
    color: #090909;
    margin-left: 1em;
}

a:hover {
    cursor: pointer;
}

/* main */

.mainArticle {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 293px;
    background-image: url("images/article-image-hero.png");
    background-size: cover;
    background-position: center;
    color: white;
}

.mainArticle .articleDate {
    font-size: 0.75rem;
    margin-left: 1.667em;
}

.mainArticle h1 {
    font-size: 2rem;
    margin: 0 0.6em;
    line-height: 1;
    text-shadow: 1px 1px 2px black;
}

.mainArticle p {
    font-size: 1rem;
    line-height: 1.2;
    margin: 0.5em 1.25em 1.56em 1.25em;
    text-shadow: 1px 1px 2px black;
}

.mainArticle div:hover{
  text-decoration: underline 0.5px;
  cursor: pointer;
}

/* Section */

section {
    display: grid;
    gap: 2.56em;
    max-width: 1300px;
    grid-template-columns: repeat(auto-fit, 374px);
    grid-auto-rows: 400px;
    justify-content: center;
    margin: 2.125em auto 0 auto;
}

article img {
    object-fit: cover;
    width: 100%;
    height: 232px;
}

.articleDate {
    font-size: 0.875rem;
    margin: 0.571em 0;
}

h1 {
    font-size: 1.5rem;
    margin: 0;
}

h1:hover{
    text-decoration: underline 0.5px;
    cursor: pointer;
}

h1:active{
    text-decoration: none;
}

p {
    font-size: 1rem;
    margin: 0.5em 0;
}

button {
    display: block;
    font-family: inherit;
    color: black;
    text-decoration: underline;
    font-size: 1rem;
    font-weight: bold;
    background-color: inherit;
    border: none;
    margin: 1.69em auto 2.94em auto;
}

button:hover {
    cursor: pointer;
    color: gray;
}

button:active {
    cursor: pointer;
    color: black;
}

/* footer */

footer {
    height: 6.05em;
    text-align: center;
    padding-top: 2.31em;
    background-color: #202020;
    color: #ECECEC;
    font-weight: bold;
}

span {
    display: block;
    color: #D7D7D7;
    font-weight: lighter;
}


@media (width > 1300px) {
    .mainArticle{
        min-height: 488px;
    }
}